<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.move4mobile.apps.bite">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BiteApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="BITES"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".RestaurantActivity"
            android:label="Restaurant"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Bite.Light" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.Login.Light" />
        <activity
            android:name=".UpdateDialog"
            android:label="Bite Update"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".UsernameDialog"
            android:label="Set Username"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"/>
    </application>

</manifest>